@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import './layout/index.scss';
@import './nav-bar/index.scss';
@import './lightbulb-page/index.scss';
@import './Home_page/table.scss'; 
@import './Filters/Filters.scss';
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  margin-top: 30px;
}

td {
  padding: 0px;
  /* Adjust the padding as needed */
}

th {
  padding-right: 10px;
  /* Adjust the padding as needed */
}

* {
  font-family: 'Open Sans', sans-serif;
}