@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import './layout/index.scss';
@import './nav-bar/index.scss';
@import './lightbulb-page/index.scss';

html, body {
  padding: 0;
  margin: 0;
}
td {
  padding: 10px; /* Adjust the padding as needed */
}
* {
  font-family: 'Open Sans', sans-serif;
}
